@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

main{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    font-weight: 400;
}

.page-title{
    color: #000;
    font-size: 3rem;
    font-weight: 700;
    padding: 0 5vw;
    text-align: center;
}

.page-paragraph{
    font-size: 1.5rem;
    padding: 0 5vw;
}

.page-checklist, .page_radio, #unity_timeseries, #year_timeseries, #unity_timeseries_boxplot, #select_all{
    font-size: 1rem;
    margin: 5vh 0 0 5vw;
}

.main-links-list{
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
}

.main-links-list>li{
    margin: 0 1.5vw 0 0;
    list-style: none;
}

.home-page-container>p{
    font-size: 1.2rem;
    padding: 0 5vw;
}

.year-container{
    display: flex;
    flex-direction: row-reverse;
}

.yearcharts-container{
    width: 100%;
}

.row {
    display: flex;
    flex-direction: column;
    width: 70%; 
    float: left;
}

.fixed-div {
    margin-top: 30vh;
    width: 30%;
    float: right; 
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    padding-top: 20px;
}
