main{
    font-family: sans-serif;
    font-size: 62.5%;
}

.page-title{
    color: #000;
    font-size: 3rem;
    padding: 0 5vw;
}

.page-paragraph{
    font-size: 1.5rem;
    padding: 0 5vw;
}

.page-checklist{
    font-size: 1rem;
    margin-left: 5vw;
}