@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

main{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    font-weight: 400;
}

.page-title{
    color: #000;
    font-size: 3rem;
    font-weight: 700;
    padding: 0 5vw;
    text-align: center;
}

.page-paragraph{
    font-size: 1.5rem;
    padding: 0 5vw;
}

.page-checklist{
    font-size: 1rem;
    margin: 5vh 0 0 5vw;
}